table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/* .mat-column-id {
  flex: 0 0 5% !important;
}
.mat-column-name {
  flex: 0 0 50% !important;
}
.mat-column-toDo {
  flex: 0 0 5% !important;
}
.mat-column-estimate {
  flex: 0 0 5% !important;
}
.mat-column-actions {
  flex: 0 0 35% !important;
} */
table {
  width: 100%;
  table-layout: fixed;
}
.w-75 {
  /* width: 5%; */
  /* text-overflow: ellipsis; */
  flex: 0 0 5% !important;
}

.w-100 {
  /* width: 50%; */
  /* flex: 0 0 50% !important; */
  text-overflow: ellipsis;
}
.f-35 {
  flex: 0 0 35% !important;
}
th,
td {
  width: auto;
  overflow-wrap: break-word;
}
