<!-- <mat-form-field>
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field> -->
<!-- 
  What remains:
  1. @Input from parent component
  2. Pagination 
  3. callbacks for actions, done and edit
  4. In place editing
  -->
<div class="AddTaskButton" *ngIf="!addTaskInPlaceEdit">
	<button (click)="addTaskInPlaceEdit=true" mat-mini-fab color="primary" aria-label="add tasks">
          <mat-icon >add</mat-icon>
        </button>
</div>
<div *ngIf="addTaskInPlaceEdit">
	<h4>Enter task Details</h4>
	<div class="imput-form-allignment-float">
		<mat-form-field class="name-form-field">
			<mat-label>Name:</mat-label>
			<input matInput type="text" [(ngModel)]="inputName">
    </mat-form-field>
			<mat-form-field class="number-form-field">
				<mat-label>To Do.</mat-label>
				<input matInput type="number" [(ngModel)]="inputToDo">
    </mat-form-field>
				<mat-form-field class="number-form-field">
					<mat-label>Estimate</mat-label>
					<input matInput type="number" [(ngModel)]="inputEstimate">
    </mat-form-field>
	</div>
	<!-- <label for="name">Task Name</label>
		<input [(ngModel)]="inputName" id="name" type="text"> -->
	<!-- <label for="toDo">To Do.</label>
				<input [(ngModel)]="inputToDo" id="toDo" type="number"> -->
	<!-- <label for="estimate" >Estimate</label>
				<input [(ngModel)]="inputEstimate" type="number" id="estimate"> -->
	<br>
	<div class="AddTaskButton">
		<button (click)="addTaskInPlaceEdit=false" mat-mini-fab color="primary" aria-label="add tasks">
          <mat-icon >done</mat-icon>
    </button>
		<button (click)="addTaskInPlaceEdit=false" mat-mini-fab color="primary" aria-label="add tasks">
          <mat-icon >close</mat-icon>
    </button>
	</div>
</div>
<br>
<br>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<!-- Id Column -->
	<ng-container matColumnDef="id">
		<th mat-header-cell class="w-75" *matHeaderCellDef>Id.</th>
		<td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>
	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell class="w-100" *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
	<!-- To Do Column -->
	<ng-container matColumnDef="toDo">
		<th mat-header-cell class="w-75" *matHeaderCellDef> To Do </th>
		<td mat-cell *matCellDef="let element"> {{element.toDo}} </td>
	</ng-container>
	<!-- Estimate Column -->
	<ng-container matColumnDef="estimate">
		<th mat-header-cell class="w-75" [style.background-color]="red" *matHeaderCellDef> To Do </th>
		<td mat-cell *matCellDef="let element"> {{element.estimate}} </td>
	</ng-container>
	<ng-container matColumnDef="actions">
		<th mat-header-cell class="f-35" *matHeaderCellDef> Actions </th>
		<td mat-cell *matCellDef="let element">
			<button md-raised-button >Edit</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No data to show</td>
	</tr>
</table>