<div class="container-select-panel">
    <div class="inner-box" id="bluebox">
      <div class="container">
        <div class="row">
          <div class="col boundry-line">
            <h3 class="allign-text-in-center">List of servers:</h3>
            <div class="server-select-list">
              <div class="server-display-box" *ngFor="let ser of serversList" (click)="setServer(ser)" [ngClass]="{'grey-selected-option': selectedServer === ser}" >
                <div >
                  <h5>{{ser}}</h5>
                </div>
            </div>
            </div>
            <p>Shows the servers you are a part of, select one to proceed.</p>
          </div>
          <div class="col">
            <h3 class="allign-text-in-center">Create a server:</h3>
            <form>
                <div class="form-group">
                  <label for="formGroupExampleInput">Server Name:</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="My first server">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Server Description</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="This server helps me get stuff done">
                </div>
                <!-- <div>
                    <div fxShow="true" fxFlex fxLayout>
                        <div fxFlex fxLayoutAlign="flex-end center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <p>Scaleistical is a startup/side project. Scaleistical has many limitiation at this time, please contact Scaleistical if you intend to use this in a Official/Production sence.</p>
  
          </div>
        </div>
      </div>
    </div>
  
  </div>