<input type="text" [(ngModel)]="sprintName"><button mat-raised-button (click)="addSprint('hello hello')">Submit</button>
{{sprintData}}
<form>
  <div class="row">
    <div class="col">
      <input type="text" [(ngModel)]="sprintName" class="form-control" placeholder="Sprint Name">
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col">
      <input  [(ngModel)]="startDate" type="date" class="form-control" placeholder="Start Date">
    </div>
    <div class="col">
      <input  [(ngModel)]="endDate" type="date" class="form-control" placeholder="End Date">
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <button type="submit" (click)="createSprint()" class="btn btn-primary">Submit</button>
</form>
<app-sprint-table level="primary"></app-sprint-table>