<!-- <input type="text" [(ngModel)]="sprintName"><button mat-raised-button (click)="addSprint('hello hello')">Submit</button>
{{sprintData}} -->

<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Sprint
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="newSprintForm">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" *ngIf="sprintName.invalid && (sprintName.dirty || sprintName.touched)">
            Sprint Name is a required field
          </div>
          <input type="text" formControlName="sprintName"  class="form-control" placeholder="Sprint Name">
        </div>

      </div>
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" *ngIf="sprintStart.invalid && (sprintStart.dirty || sprintStart.touched)">
            Below Field Required
          </div>
          <input  formControlName="sprintStart" type="date" class="form-control" placeholder="Start Date">
        </div>
        <div class="col">
          <div class="alert alert-danger" *ngIf="sprintEnd.invalid && (sprintEnd.dirty || sprintEnd.touched)">
            Below Field Required
          </div>
          <input formControlName="sprintEnd" type="date" class="form-control" placeholder="End Date">
        </div>
      </div>
      <div class="row">
        <br>
      </div>
      <button type="submit" [disabled]="newSprintForm.status=='INVALID'" (click)="createSprint()" class="btn btn-primary">Submit</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<br>

<app-sprint-table level="primary"></app-sprint-table>