table {
  width: 100%;
  table-layout: fixed;
}
.f-10 {
  /* width: 5%; */
  /* text-overflow: ellipsis; */
  flex: 0 0 10% !important;
  background-color: #3f51b5;
  color: white;
}
.f-80 {
  /* width: 50%; */
  flex: 0 0 80% !important;
  text-overflow: ellipsis;
  background-color: #3f51b5;
  color: white;
}
.f-35 {
  flex: 0 0 35% !important;
  background-color: #3f51b5;
  color: white;
}

tr.sprint-detail-row {
  height: 0;
}
tr.sprint-element-row:not(.sprint-expanded-row):hover {
  background: whitesmoke;
}
tr.sprint-element-row:not(.sprint-expanded-row):active {
  background: #efefef;
}
.sprint-element-row td {
  border-bottom-width: 0;
}

.sprint-element-detail {
  overflow: hidden;
  display: flex;
  background-color: lightgray;
}

/* tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
} */
