
<section class="panel2-slanted-div">
    <div>
        <b>What is Scrum?</b>
        <br/>
        <p>Scrum is a framework utilizing an agile mindset for developing, delivering, and sustaining complex products, <br>
            with an initial emphasis on software development, although it has been used in other fields including research, sales,<br>
            marketing and advanced technologies
        <br><a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">- Wikipedia.</a></p>
        <b>What does Scalistical bring to the table?</b>
        <br/>
        <p>Scalistical brings a new perspective of doing things in a Agile world.</p>
        <b>Who is it for?</b>
        <br/>
        <p>This is a startup, so understandably there is a risk. This is for small teams willing to take a risk</p>
    </div>
</section>

<footer class="panel2-footer">
</footer>
