<!-- Container element -->
<div class="parallax1"></div>
<div class="white-content" id="about">
  <app-panel1></app-panel1>
</div>
<div class="parallax1"></div>
<div class="white-content">
  <app-panel2></app-panel2>
</div>
<div class="parallax1"></div>
<div class="white-content">
  <app-panel3></app-panel3>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 ">


  <p>SCALISTICAL<br>Legal<br>Artwork by: <a href="http://www.freepik.com">katemangostar / Freepik</a></p>
</footer>
