<h2>Scrum Elements:</h2>
<div class="banner-roll-elements">
  <div class="button-flex-arrangement">
    <button
      mat-raised-button
      class="button-margin-10"
      (click)="openDialog(null)"
    >
      <div class="example-element-diagram">
        <div class="example-element-symbol">US</div>
        <div class="bold-font">User Story</div>
      </div>
    </button>
    <button
      mat-raised-button
      class="button-margin-10"
      (click)="openDefectDialog(null)"
    >
      <div class="example-element-diagram">
        <div class="example-element-symbol">DE</div>
        <div class="bold-font">Defect</div>
      </div>
    </button>
    <button
      mat-raised-button
      class="button-margin-10"
      (click)="openDefectDialog(null)"
    >
      <div class="example-element-diagram">
        <div class="example-element-symbol">NT</div>
        <div class="bold-font">Note</div>
      </div>
    </button>
  </div>
</div>
<hr />
<h2>Refinement:</h2>
<!-- Sprint Select Component -->
<div>
  <app-search-select [contentToDisplay]="" (valueChange)="newSprintValue($event)"></app-search-select>
  this:{{sprintData}}
  <button (click)='sendUpdate("hi hi")'>check</button>
</div>



<!-- Drag and drop component -->
<div cdkDropListGroup class="zindex1">
  <div class="example-container">
    <h3>Backlogged</h3>

    <div cdkDropList [cdkDropListData]="backlogged" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of backlogged" cdkDrag>
        <div (click)="openDialog({name:item})">{{item}}</div>
      </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="10"> </mat-paginator>
  </div>

  <div class="example-container">
    <h3>In Progress</h3>

    <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
        <div (click)="openDialog({name:item})">{{item}}</div>
      </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="10"> </mat-paginator>
  </div>

  <div class="example-container">
    <h3>Archived</h3>

    <div cdkDropList [cdkDropListData]="archived" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of archived" cdkDrag>
        <div (click)="openDialog({name:item})">{{item}}</div>
      </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="10"> </mat-paginator>
  </div>
</div>