<button mat-raised-button  (click)="openDialog(null)">Story +</button>
<button mat-raised-button  (click)="openDefectDialog(null)">Defect +</button>
<hr />
<h1>Refinement:</h1>
<div cdkDropListGroup>
	<div class="example-container">
		<h2>Backlogged</h2>

		<div cdkDropList [cdkDropListData]="backlogged" class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of backlogged" cdkDrag>
				<div (click)="openDialog({name:item})">{{item}}</div>
			</div>
		</div>
	</div>


	<div class="example-container">
		<h2>In Progress</h2>

		<div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of inProgress" cdkDrag>
				<div (click)="openDialog({name:item})">{{item}}</div>
			</div>
		</div>
	</div>

	<div class="example-container">
		<h2>Archived</h2>

		<div cdkDropList [cdkDropListData]="archived" class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of archived" cdkDrag>

				<div (click)="openDialog({name:item})">{{item}}</div>
			</div>
		</div>
	</div>


</div>