<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
	<!-- Id Column -->
	<ng-container matColumnDef="sprintName">
		<th mat-header-cell class="f-80" [class.blue-background]="level=='primary'"
			[class.grey-background]="level!='primary'" *matHeaderCellDef>Sprint Name.</th>
		<td mat-cell *matCellDef="let element"> {{element.sprintName}} </td>
	</ng-container>
	<!-- Name Column -->
	<ng-container matColumnDef="sprintStart">
		<th mat-header-cell class="f-10" [class.blue-background]="level=='primary'"
			[class.grey-background]="level!='primary'" *matHeaderCellDef> Sprint Start </th>
		<td mat-cell *matCellDef="let element"> {{element.sprintStart}} </td>
	</ng-container>
	<!-- To Do Column -->
	<ng-container matColumnDef="sprintEnd">
		<th mat-header-cell class="f-10" [class.blue-background]="level=='primary'"
			[class.grey-background]="level!='primary'" *matHeaderCellDef> Sprint End </th>
		<td mat-cell *matCellDef="let element"> {{element.sprintEnd}} </td>
	</ng-container>

	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

			<div class="sprint-element-detail" [@detailExpand]="element['expanded'] ? 'expanded' : 'collapsed'">
				<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<app-stories-table></app-stories-table>
			</div>
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="sprint-element-row"
		[class.sprint-expanded-row]="element['expanded']"
		(click)="element['expanded']=element['expanded']==null?true:!element['expanded']">
	</tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="sprint-detail-row"></tr>
</table>