<div class="dropdown">
  <div class="clickable" (click)="showList=!showList">
    <h4 class="displayInline">Select Sprint</h4>
    <mat-icon *ngIf="!showList">expand_more</mat-icon>
    <mat-icon *ngIf="showList">expand_less</mat-icon>
    <h4 class="displayInline">&nbsp;:&nbsp;{{selectedSprint}}</h4>
  </div>
  <div id="myDropdown" *ngIf="showList">
    <input
      class="input-sprint-search-css"
      type="text"
      placeholder="Search.."
      id="myInput"
    />
    <button class="blue-background-sprint-searh-button " mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <li
      *ngFor="let item of contentToDisplay"
      (click)="selectSprintItemClick(item)"
    >
      {{item}}
    </li>
  </div>
</div>
<br />
