<br>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">

	<div class="clickable" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
		<mat-card class="one-px-border" routerLink="/backlog">
			<mat-card-header>
				<div mat-card-avatar class="machine-header-imagee"></div>
				<mat-card-title>Backlog Refinement</mat-card-title>
				<mat-card-subtitle>Refine and Create Classes</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>
					Product Backlog Refinement is the act of adding detail, estimates, and order to items in the Product
					Backlog. Refinement usually consumes no more than 10% of the capacity of the Development Team.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="clickable" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
		<mat-card class="one-px-border" routerLink="/release">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Release Management</mat-card-title>
				<mat-card-subtitle>Manage Releases</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>
					Releases help you decide what to deliver (release) to customers/users. Releases help you build a
					continuous release stream (release train) that helps you set expectations and plan ahaead.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="clickable" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
		<mat-card class="one-px-border" routerLink="/sprint">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Sprint Management</mat-card-title>
				<mat-card-subtitle>The core of your adgile team's ability to drive value</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>
					Scrum Sprint is a repeatable fixed time-box during which a "Done" product of the highest possible
					value is created. Sprint lies at the core of the Sprint agile methodology and can be thought of as
					an event which wraps all other Scrum events like Daily Scrums, Scrum Review and Sprint
					Retrospective.
				</p>
			</mat-card-content>
		</mat-card>
	</div>

</div>