.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.clickable {
  cursor: pointer;
}
.card {
  cursor: pointer;
}
.one-px-border {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.machine-header-image {
  background-image: url("../resources/machine-2'");
  background-size: cover;
}
