/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.ql-container {
  height: 150px;
}
