<!-- Container element -->
<div class="parallax1"></div>
<div class="white-content" id="about">
  ABOUT SCRUM:
  Scroll Up and Down this page to see the parallax scrolling effect.
  This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
<div class="parallax1"></div>
<div class="white-content">
  SCALEISTICAL AND SCRUM:
  Scroll Up and Down this page to see the parallax scrolling effect.
  This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
<div class="parallax1"></div>
<div class="white-content">
  LEARN MORE ABOUT US
  Scroll Up and Down this page to see the parallax scrolling effect.
  This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">


  <p>SCALISTICAL<br>Legal</p>
</footer>