.parallax1 {
  /* The image used */
  background-image: url(https://www.w3schools.com/w3images/parallax1.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white-content {
  height: 100px;
}
.parallax2 {
  /* The image used */
  background-image: url(https://www.w3schools.com/w3images/parallax3.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
